
<h1> <%= @publisher.name%> <br> </h1> 

_____________________________________<br><br>


		<% @publisher.games.order(:name).all.each do |g| %>
			<a href='/publishers/<%=@publisher.name.parameterize%>/games/<%=g.name.parameterize%>'> <%= g.name %> <br> 
		<%end%>
		<br>


<a href="/publishers/<%=@publisher.name.parameterize%>/new">Add a Game


