<h1> <%= @publisher.name%> <br> </h1> 
_____________________________________<br><br>

<h3> <%= @game.name%> </h3>

<h4> year: <%= @game.year%> </h4>

<br>
<%# button to add to MyGames%>
<%= button_to "Add to Library", {controller: "user_games" ,action: "create", params: {game_id: @game.id}}, {:class => "btn btn-primary" }%>
<br>
<h4>number of users grouping: 

<%= @game.players%> </h4>
<br>
<%# button to display grouping %>
<%= button_to "Display Users", {controller: "user_games" ,action: "create", params: {game_id: @game.id}}, {:class => "btn btn-info" }%>