<h1> <%= @publisher.name%> <br> </h1> 
_____________________________________<br><br>

<h3> <%= @game.name%> </h3>

<h4> year: <%= @game.year%> </h4>

<h4>number of users grouping: 
<%#= UserGame.where(game_id: @game.id).count %>
<%= @game.players%> </h4>


<%= button_to "Add to MyGames", {controller: "user_games" ,action: "create", params: {game_id: @game.id}}, {:class => "btn btn-primary" }%>

<%#= submit_tag "Add to MyGames2", onclick: AddToMyGames() %>

 <%#flash[:notice] = "Added to your games"%>

<%# button_to "Add to my games",action="/mygames", method: :create%>

