<h2><%= @game.name%> </h2>
_____________________________________<br><br>

<h5> publisher: <%= @game.publisher.name%></h5>
<h5> year: <%= @game.year%> </h5><br>
<br>

<h4>
	<%if @usergame.lfg == false || @usergame.lfg == true %>
		<h5>would you like to look for groups in this game?</h5>
	<%else%>
	something went wrong
	<%end%>
</h4>

<br>


<div class = "field">
<%###  only display useful checkbox ####%>
	<form action="mygames/<%@game.name.parameterize%>/edit"  method="put" id="editForm">
		<input type="hidden" form="editForm" name="id" value="@usergame.id">
		<input type="hidden" form="editForm" name="user_id" value=" @usergame.user_id">
		<input type="hidden" form="editForm" name="game_id" value="@usergame.game_id">
		<%if @usergame.lfg == true%>
			<input type="radio" form="editForm" name="lfg" value= true checked="true"> Yes
			<input type="radio" form="editForm" name="lfg" value= false> No
		<%else%>
			<input type="radio" form="editForm" name="lfg" value= true > Yes
			<input type="radio" form="editForm" name="lfg" value= false checked="true"> No
		<%end%>
		<br>
		<br>

		<input type="submit" value="submit" class="btn btn-primary"></p>
	</form>
</div>
<br>

<div >
	<%= button_to "delete from library", {action: "destroy"}, {:class => "btn btn-info" }%>
	<br>

	<%= button_to "back", {action: "show", controller: "user_games"}, {:class => "btn btn-info",method: "get" }%>

</div>




