<h3><%= @game.name%> </h3>

<h4> publisher: <%= @game.publisher.name%></h4>
<h4> year: <%= @game.year%> </h4>
<%= @usergame.lfg %><br>
 id:<%=@usergame.id%>
<br>
<br>
<h4>

	<%if @usergame.lfg == false%>
		you are currenly not looking for groups in this game
	<%elsif @usergame.lfg == false%>
		you are currently looking for groups for this game!
	<%else%>
	something went wrong
	<%end%>
</h4>



<%#################################################%>
<%form_tag('/mygames/:game/edit', :method => "put")%>

	<%= check_box_tag('box',true) %>

  	<br>
  	
	 <%= button_to 'submit', "/mygames/#{@game.name.parameterize}/edit", :method => "put" %>

<%#################################################%>
<br>
<br>
<br>
<%= button_to 'delete from library', "/mygames/#{@game.name.parameterize}/edit", :method => "delete" %>

<ul>
  <li><a href="/">Your Profile</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul> 




<%def is_checked(game,lfg)
	if lfg == true
		game.lfg = true
	else
		game.lfg = false
	end
end %> 


<%def validator
	if checkbox.lfg == true && checkbox.lfg == false
		flash[:notice] = "Please select only one option"
	elsif checkbox.lfg == null
		flash[:notice] = "Please select one option"
	end
end %> 