<h2><%= @game.name%> </h2>

<h5> publisher: <%= @game.publisher.name%></h5>
<h5> year: <%= @game.year%> </h5>

<h4>

	<%if @usergame.lfg == false%>
		<h5>you are currenly not looking for groups in this game</h5>
	<%elsif @usergame.lfg == true%>
		<h5>you are currently looking for groups for this game!</h5>
	<%else%>
	something went wrong
	<%end%>
</h4>
<br>
<br>
<br>


<div class = "field">
	<%= form_tag("/mygames/#{@game.name.parameterize}/edit", :method => "put") do %>
		<%= hidden_field_tag :id, @usergame.id %>
		<%= hidden_field_tag :user_id, @usergame.user_id%>
		<%= hidden_field_tag :game_id, @usergame.game_id%>
<%###  only display useful checkbox ####%>
		<%if @usergame.lfg == false%>
			do you want to look for groups in this game?<br>
			
			<%= check_box_tag(:lfg , true) %>yes
		<%else%>
			do you want to stop looking for groups in this game?<br>
		<%= check_box_tag(:lfg , false) %>yes
		<%end%>
		<br>
		<br>

		<%= submit_tag "submit" %>
	<% end %>
</div>
<br>
  	


<%= button_to 'delete from library', "/mygames/#{@game.name.parameterize}/edit", :method => "delete" %>

<ul>
  <li><a href="/">Your Profile</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul> 
