<!DOCTYPE html>
<html>
  <head>
    <title>Matchmaking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  
   <div class="navbar navbar-default"
    <h1>Matchmaking<img width="70" height="70" src="https://www.iconspng.com/images/puzzle-icon/puzzle-icon.jpg" alt="icon" align="center"> </h1>
    <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span 
            <% if user_signed_in? %>
              <%= link_to "Edit profile", edit_user_registration_path %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path  %> |
              <%= link_to "Login", new_user_session_path  %>
            <% end %></span>
          </button>
            
    </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
